body {
  background-color: plum;
  margin: 20px;
}
h1 {
  font-weight: bold;
  font-size: x-large;
  color: rgb(78, 8, 78);
  margin: 25px;
  text-align: center;
}
h2 {
  font-weight: bold;
  font-size: medium;
  color: purple;
  margin: 10px 25px 0px;
}
p {
  margin: 0px 25px;
  /* margin-right: 150px; */
}
ul li {
  list-style-type: circle;
  margin: 5px 50px;
}
ol li {
  list-style-type: decimal;
  margin: 5px 50px;
}
nav {
  display: inline;
  margin: 200px 20px;
  text-align: center;
}
ul a {
  border: thin solid rgb(78, 8, 78);
  color: purple;
  font-size: medium;
  font-weight: bold;
  text-underline-position: hidden;
  border-radius: 5px;
  padding: 3px;
  margin: 5px 5px;
  text-decoration: none;
  text-align: center;
  background-color: rgb(224, 178, 224);
}
 ul a:hover{
  background-color: rgb(243, 111, 243);
  color: rgb(245, 206, 245);
  transform: scale(1.1);
}
